@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "CMS Roles";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>