@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3>@ViewBag.Path</h3>
            <h3>@ViewBag.QueryString</h3>
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                <br />
                @ViewBag.ErrorMessage
                <br />
                Meanwhile, you may <a asp-controller="Home" asp-action="Index">return to dashboard,</a>
                <br />
                or try using the search form.
            </p>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-warning">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //display the returned error message from Error Controller (should be 'Error 404 !') using notify.j existed in lib/notify.js:
            var message = '@ViewBag.ErrorMessage';
            toastr.error(message);
        });
    </script>
}







